<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      form {
        display: flex;
        flex-direction: column;
        width: 200px;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form data</title>
  </head>
  <body>
    <h2>Form data</h2>
    <p>Login: <%= auth.login %></p>
    <p>Email: <%= auth.email %></p>
    <p>Password: <%= auth.password %></p>
  </body>
</html>
