<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      form {
        display: flex;
        flex-direction: column;
        width: 200px;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Json data</title>
  </head>
  <body>
    <h2>Json data</h2>
    <p>{</p>
    <p>Name: <%= info.name %></p>
    <p>Surname: <%= info.surname %></p>
    <p>Age: <%= info.age %></p>
    <p>}</p>
  </body>
</html>
